# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directories
build/
.cache
bin/

# Study-related files
practicos/

# Console recordings
**.rec

# Open-code files
.sisyphus/
.CLAUDE
CLAUDE.md
CLAUDE.md
